/tasks
/AdminLTE-3.1.0-rc
/AdminLTE-3.2.0
Dashboard/node_modules
Dashboard/public/hot
Dashboard/public/storage
Dashboard/storage/*.key
Dashboard/vendor
Dashboard/.env
Dashboard/.env.backup
Dashboard/.phpunit.result.cache
Dashboard/Homestead.json
Dashboard/Homestead.yaml
Dashboard/npm-debug.log
Dashboard/yarn-error.log
laraveltest/node_modules
laraveltest/public/hot
laraveltest/public/storage
laraveltest/storage/*.key
laraveltest/vendor
laraveltest/.env
laraveltest/.env.backup
laraveltest/.phpunit.result.cache
laraveltest/Homestead.json
laraveltest/Homestead.yaml
laraveltest/npm-debug.log
laraveltest/yarn-error.log
Ecommerce/vendor